/* Add media queries for responsiveness */
.footer {
  background-color: #387563;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute; 
}

/* Style the footer pic */
.footer-pic {
  max-width: 30%; /* Set the maximum width of the image for desktop */
  height: auto;
  width: auto; /* Reset width and height */
  margin-right: 20px; /* Add some space to the right of the image for desktop */
  margin-left: 20px;
  border-radius: 5%;
}

.footer-navigation {
  flex: 1;
  max-width: 200px;
}

.footer-navigation p {
  font-size: 16px;
  font-weight: bold;
}

.footer-navigation ul {
  list-style: none;
  padding: 0;
}

.footer-navigation li {
  margin-bottom: 10px;
}

.footer-navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-contact {
  flex: 1;
  max-width: 300px;
}

.footer-contact p {
  font-size: 16px;
  font-weight: bold;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
}

.footer-contact li {
  margin-bottom: 10px;
}

.footer-contact strong {
  color: #f6c23e;
}

.footer-contact a {
  color: #fff;
  text-decoration: none;
}

.footer-social {
  flex: 1;
  max-width: 200px;
}

.footer-social p {
  font-size: 16px;
  font-weight: bold;
}

.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-social li {
  margin-bottom: 10px;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}

.footer-copyright {
  flex-basis: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

/* Style the underlined link in the copyright section */
.underlined-link {
  text-decoration: underline;
  color: #ffffff; /* Text color for the link */
  transition: color 0.2s; /* Smooth transition for link color change */
}

/* Style the underlined link on hover */
.underlined-link:hover {
  color: #f88e47; /* Change link text color on hover */
}

/* Style navigation links on hover */
.footer-navigation a:hover,
.footer-contact a:hover,
.footer-social a:hover {
  color: #f88e47; /* Change link text color on hover */
}
/* Media Query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-pic {
    max-width: 100%; /* Remove the max-width property */
    width: 50%; /* Set the width to make the image larger */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image horizontally */
  }

  .footer-navigation,
  .footer-contact,
  .footer-social {
    max-width: 100%;
    text-align: center;
  }

  .footer-navigation ul,
  .footer-contact ul,
  .footer-social ul {
    padding-left: 0;
  }
}

