/* Header Styles */
.hero {
    position: relative;
    background-color: #387563; /* Background color for the hero section */
    text-align: left;
    padding: 100px 0; /* Adjust the padding as needed */
  }
  
/* Style the Hero content container */
.hero-content {
    max-width: 400px; /* Adjust the maximum width of the content */
    padding: 0; /* Set padding to 0 to remove it */
    margin-left: 300px; /* Adjust the leftward margin to position it on the left */
    margin-top: 0px; /* Adjust the top margin to position it at the top */
    position: relative; /* Change to relative positioning */
}

/* Style the Hero title */
.hero-title {
    font-size: 2.5rem; /* Adjust the font size for the title */
    color: #ecdd05; /* Text color for the title */
    margin: auto;
}

/* Style the Hero location */
.hero-location {
    font-size: 2.5rem; /* Adjust the font size for the title */
    color: #ffffff; /* Text color for the title */
    margin: auto;
}

/* Style the Hero description */
.hero-description {
    font-size: 1.2rem; /* Adjust the font size for the description */
    color: #ffffff; /* Text color for the description */
    margin-bottom: 20px; /* Adjust the margin as needed */
    text-align: justify; /* Align text in paragraph format (justified) */
}

  
  /* Style the "Reserve a Table" button */
  .reserve-button {
    background-color: #ff6600; /* Background color for the button */
    color: #fff; /* Text color for the button */
    font-size: 1.2rem; /* Adjust the font size for the button text */
    padding: 10px 20px; /* Adjust the padding as needed */
    border: none;
    border-radius: 4px; /* Rounded corners for the button */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
  }
  
  /* Style the button on hover */
  .reserve-button:hover {
    background-color: #ff4500; /* Hover background color for the button */
  }
  
/* Style the Hero image */
.hero-image {
  width: auto; /* Adjust the width of the image as needed */
  height: 100%; /* Maintain the aspect ratio of the image */
  top: 15px; /* Add a small gap from the top */
  padding: 20px; /* Add some padding */
  position: absolute; /* Set the image to an absolute position */
  left: 50%; /* Position the image at the center horizontally */
  transform: translateX(25%); /* Adjust to move it slightly to the right */
  border-radius: 50px;
}


  
  