/* Default styles for larger screens */
.navbar {
  background-color: #f4fcfc;
  color: #000000;
  padding: 25px;
  display: flex;
  justify-content: space-between; /* Space between logo and menu icon */
  align-items: center;
}

.navbar-left {
  display: flex; /* Display logo and menu icon side by side */
  align-items: center;
}

.navbar-right {
  display: flex; /* Display menu icon */
  align-items: center;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-item a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.2s;
}

.navbar-logo {
  max-width: 200px;
  vertical-align: middle;
}

.navbar-item a:hover {
  color: #fb9261;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {

  .navbar-left {
    display: flex; /* Display logo and menu icon side by side */
    align-items: center;
  }

  .navbar-list {
    margin-top: 20px;
    flex-direction: column;
  }

  .navbar-item {
    margin: 10px 0;
    text-align: center;
  }

  /* Hide the menu items by default on mobile screens */
  .navbar-list {
    display: none;
  }

  /* Style the menu toggle (hamburger menu icon) */
  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate bars for open menu */
  .menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* Show the menu items when the menu is open on mobile screens */
  .navbar-list.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
